<p>bon-service works!</p>
<div class="row">
<div class="col-md-6 mx-auto">
<div class="form-group mt-1">
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let data of dataSource">
  {{data.dateBS}}
  {{data.numBS}}
  {{data.idClient.nom}}


  </li>
</ul>
</div>
  <div class="col-md-6 ">
  </div>
</div>

<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="dataSource">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
